* {
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* :root {
	--primary-color: #007bff;
	--secondary-color: #6c757d;
	--background-color: #ffffff;
	--text-color: #333333;
} */

html {
	scroll-behavior: smooth;
}

body {
	background-color: #ffffff;
	color: #333333;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--sb-track-color: #504545;
	--sb-thumb-color: #a92a2a;
	--sb-size: 14px;
}

a {
	color: #b3b3b3;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #ffffff;
	font-weight: 500;
}

button {
	cursor: pointer;
	border: none;
	background: none;
	font-family: inherit;
}

input,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}

body::-webkit-scrollbar {
	width: var(--sb-size);
}

body::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 1px;
}

@supports not selector(::-webkit-scrollbar) {
	body {
		scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
	}
}
